<header>
  <img src="assets/pantaloons.png" alt="pantaloons">
  <label> STYLE YOUR CHANGE </label>
</header>
<div class="container">
  <div class="address">
    <span>
      <img src="assets/address-pin.png" alt="address-pin">
      <b>Aditya Birla Fashion & Retail Limited</b>
    </span>
    <p>
      <span>
        GROUND &amp; FIRST FLOOR, MANTRA MALL, PILLER NO. 185, SURVEY NO. 30, RGI AIRPORT ROAD, UPPERPALLY, ATTAPUR,
        RAJENDRA NAGAR, HYDERABAD, TELANGANA
      </span><br>
      Ph. : <span>090716 11456</span>
    </p>
  </div>
  <div class="name-thanks">
    <p>Thank you for shopping at Pantaloons.</p>
    <b>Kalyani K</b>
  </div>
  <div class="amount-paid">
    <span style="display: flex; justify-content: space-between;">
      <p>Amount Paid</p>
      <p>26 Aug 2020</p>
    </span>
    <span style="display: flex; justify-content: space-between;">
      <span>
        <b>&#8377;2409.00</b>
        <img src="assets/info.svg" alt="info.svg">
      </span>
      <span>
        <b>Qty 7</b>
      </span>
    </span>
  </div>
  <div class="invoice-number">
    <b>Invoice</b>
    <p>#P019568000012548</p>
  </div>
  <div class="purchased-item">
    <div class="invoice-details">
      <div style="font-size: 13px;">
        1.
      </div>
      <div class="product-details">
        <span style="text-transform: uppercase; font-size: 13px;">
          Men aditya birla fashion & retail limited Telangana
        </span>
        <span style="display: flex; margin-top: 6vh; justify-content: space-between;">
          <p>MRP: &#8377;899.00</p>
          <p>Quantity: 1</p>
          <p>GST: 42.80</p>
        </span>
        <span style="margin-top: 5vh; font-size: 15px;">Net Amount</span>
      </div>
      <div style="font-size: 13px; display: grid;">
        <span>
          &#8377;899.00
        </span>
        <span style="margin-top: 9vh;">
          <b>&#8377;899.00</b>
        </span>
      </div>
    </div>
    <span></span>
    <div class="invoice-details">
      <div style="font-size: 13px;">
        2.
      </div>
      <div class="product-details">
        <span style="text-transform: uppercase; font-size: 13px;">
          Men aditya birla fashion & retail limited Telangana
        </span>
        <span style="display: flex; margin-top: 6vh; justify-content: space-between;">
          <p>MRP: &#8377;599.00</p>
          <p>Quantity: 1</p>
          <p>GST: 28.52</p>
        </span>
        <span style="margin-top: 5vh; font-size: 15px;">Net Amount</span>
      </div>
      <div style="font-size: 13px; display: grid;">
        <span>
          &#8377;599.00
        </span>
        <span style="margin-top: 9vh;">
          <b>&#8377;599.00</b>
        </span>
      </div>
    </div>
  </div>
  <div class="download-invoice">
    <span><button style="width: 100%;">Download Invoice</button></span>
    <span><p>- OR send invoice to your email -</p></span>
    <span>
      <input type="text" id="email" placeholder="Enter your email address here">
      <button>Send</button>
    </span>
  </div>
  <div class="greencard">
    <div class="green-logo">
      <img src="assets/pantaloons.png" alt="pantaloons">
      <label> GREENCARD </label>
    </div>
    <hr>
    <div class="circles">
      <div>
        CURRENT TIER <br>
        <hr>
        1 <br>
        STAR
      </div>
      <div style="text-align-last: center;">
        BALANCE POINTS <br>
        <hr>
        122 <br>
        (&#8377;30.50)
      </div>
    </div>
  </div>
  <div class="profile">
    <button>View and complete your profile</button>
  </div>
  <div class="advert">
    <img src="assets/advert.png" alt="">
  </div>
  <div class="contacts">
    <span>
      <img src="assets/facebook.svg" alt="facebook">
      <img src="assets/instagram.svg" alt="instagram">
      <img src="assets/youtube.svg" alt="youtube">
    </span>
    <span>
      <p>Find us on your favorite social media.</p>
    </span>
  </div>
  <div class="terms-condition">
    <p>Terms and condition</p>
  </div>
  <div class="contact-details">
    <p>We hope you have enjoyed your experience.</p>
    <p>customercare@abfrl.adityabirla.com</p>
    <p>1800-103-7527 ( 11 AM to 9.30 PM )</p>
    <p></p>
    <p>Corporate Address</p>
    <p>Agastya Corporate Park, Bung Lane,LBS Road,</p>
    <p>Kurla West,Mumbai – 400070 Maharashtra, India</p>
    <p>CIN: L973L3HHF89E763I00</p>
  </div>
  <div class="carnival">
    <p>Invoice authenticity protected by Karnival.</p>
  </div>
</div>
