header {
  display: flex;
  justify-content: space-between;
  color: #00aa8a;
  font-weight: 600;
  background: #FFFFFF;
  padding: 4px 10px;

  label {
    position: relative;
    top: 18px;
  }
}

.container {
  text-align-last: center;
  width: fit-content;
  margin: auto;
  max-width: 30%;

  .address {
    text-align-last: left;

    img {
      margin-right: 10px;
    }

    b {
      font-weight: 500;
    }
  }

  .invoice-number {
    display: flex;
    padding: 0 10px;
    background: 0;
    box-shadow: 1px 3px 6px 0px #F1F1F1;

    p {
      margin: 2px 5px;
    }
  }

  .purchased-item {
    padding: 1px;

    div {
      background: 0;
      box-shadow: 1px 3px 6px 0px #FFFFFF;
    }

    span {
      width: 100%;
      height: 2px;
      display: block;
      background: #F1F1F1;
    }

    .invoice-details {
      display: flex;
      justify-content: space-between;
      height: 15vh;

      span {
        background: #FFF;
      }

      div {
        padding: 0;
        margin: 0 6px;
      }
    }
  }

  .amount-paid {
    span {
      img {
        position: relative;
        margin-left: 5px;
        width: 15%;
      }
    }
  }

  .download-invoice {
    text-align-last: center;

    button {
      border: none;
      outline: none;
      background: #00BCD2;
      color: #FFFFFF;
      font-size: 15px;
      padding: 10px 15px;
    }

    input {
      border: none;
      width: 82%;
      border-bottom: 2px solid #999999;
      height: 28px;
      text-align-last: auto;
    }
  }
}

// Media queries
@media screen and (max-width: 767px) {
  header {
    img {
      width: 50%;
    }

    label {
      position: relative;
      top: 13px;
      font-size: 14px;
    }
  }

  .container {
    max-width: 100%;
    margin: 0 10px;

    .download-invoice {
      input {
        width: 78%;
        border-bottom: 2px solid #999999;
        height: 4vh;
      }
    }
  }
}